//$body-background: url('/assets/images/Footer_lighblue_motifs3.png');
//$footer-padding: 3rem 1.5rem 6rem;

@import "theme/_main";


//You can add additional styling 

.navbar {
  //background: url('https://hp-sprep.gbif-staging.org/assets/images/Header_lightblue.png');
  //background: url('/assets/images/Header_lightblue.png');
  background: linear-gradient(90deg, rgba(54,199,152,100) 0%, rgba(0,12,100,1) 100%);
  background-size: cover;
}

.footer {
  //background: url('https://hp-sprep.gbif-staging.org/assets/images/Footer_lighblue.png');
  background: url('/assets/images/Footer_lighblue_motifs3.png');
  background-size: cover;
}

.features {
  //background-image: url('/assets/images/Banner_gray_fade.png');
  background: url('/assets/images/carlo test 1.png');
  background-size: cover;
  background-attachment: fixed;
} 

.container {
  background: url('/assets/images/carlo test 1.png');
 // overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}

.article {
  //background-image: url('/assets/images/Banner_gray_fade.png');
  background: white;
  //backgroun-image: url('/assets/images/carlo test 1.png');
  background-size: cover;
  background-attachment: fixed;
}

.about {
  background: linear-gradient(90deg, rgba(54,199,152,100) 0%, rgba(0,12,100,1) 100%);
  overflow: hidden;
}

