//$body-background: url('/assets/images/Footer_lighblue_motifs3.png');
//$footer-padding: 3rem 1.5rem 6rem;

@import "theme/_main";


//You can add additional styling 

.navbar {
  //background: url('https://hp-sprep.gbif-staging.org/assets/images/Header_lightblue.png');
  //background: url('/assets/images/Header_lightblue.png');
  background: linear-gradient(90deg, rgba(54,199,152,100) 0%, rgba(0,12,100,1) 100%);
  background-size: cover;
  //position: fixed;
  //top: 0;
  //width: 100%;
  //overflow: hidden;
  //opacity: 1;
  //filter: alpha(opacity=50);
  //transition: transform .5s;
  //transform: translateY(-100%);
}

.footer {
  //background: url('https://hp-sprep.gbif-staging.org/assets/images/Footer_lighblue.png');
  //background: url('/assets/images/Footer_lighblue_motifs3.png');
  background: url('/assets/images/GBIF-footer.PNG');
  //background-size: cover;
  //background-attachment: fixed;
  background-size: 1000px;
  background-position: bottom;
  background-repeat: repeat-x;
  padding-bottom: 8rem;
}

.features {
  background-image: url('/assets/images/carlo_test_3.png');
  background-size: cover;
  background-attachment: fixed;
} 

.container {
  background-image: url('/assets/images/carlo_test_3.png');
  //overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}

.article {
  background: white;
  background-image: url('/assets/images/carlo_test_3.png');
  background-size: cover;
  background-attachment: fixed;
}

.about {
  background-image: url('/assets/images/carlo_test_3.png');
  //overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}

.newspost {
  background-image: url('/assets/images/carlo_test_3.png');
  //overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}
  
