//$body-background-color: #b3cef5;
//$footer-padding: 3rem 1.5rem 6rem;

@import "theme/_main";


//You can add additional styling 

.navbar {
  //background: url('https://hp-sprep.gbif-staging.org/assets/images/Header_lightblue.png');
  //background: url('/assets/images/Header_lightblue.png');
  background: linear-gradient(90deg, rgba(60,136,246,100) 0%, rgba(0,11,100,1) 100%);
  background-size: cover;
}

.footer {
  //background: url('https://hp-sprep.gbif-staging.org/assets/images/Footer_lighblue.png');
  background: url('/assets/images/Footer_lighblue_motifs2.png');
  background-size: cover;
}

.features {
  background-image: url('/assets/images/Banner_gray_fade.png');
  background-size: cover;
}

//.occurrence {
  //background-image: url('/assets/images/Banner_gray.png');
  //background-size: cover;
//}

